@keyframes ssShimmer {
  0% {
    box-shadow: 0 0 5px rgba(168,85,247,0.3), inset 0 2px 4px rgba(0,0,0,0.45);
  }
  50% {
    box-shadow: 0 0 15px rgba(168,85,247,0.8), inset 0 2px 4px rgba(0,0,0,0.45);
  }
  100% {
    box-shadow: 0 0 5px rgba(168,85,247,0.3), inset 0 2px 4px rgba(0,0,0,0.45);
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
